<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行转账系统-业务选择</title>
    <link rel="shortcut icon" href="http://blog.yxxwl.com/content/templates/loper/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form id="loginMainForm" class="login100-form validate-form">
                <span class="login100-form-title p-b-49">业务选择</span>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="query" class="login100-form-btn">账 户 查 询</button>
                    </div>
                </div>

                <br><br>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="transfer" class="login100-form-btn">转 账 办 理</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="js/jquery-3.4.1.js"></script>
<script src="js/home.js"></script>
</body>
</html>