<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>银行转账系统-登录页面</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
    <link rel="shortcut icon" href="http://blog.yxxwl.com/content/templates/loper/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="loginMainForm" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">登录</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="请输入手机号">
						<span class="label-input100">手机号</span>
						<input id="client_phone" class="input100" type="text" name="client_phone" placeholder="请输入手机号" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100">密码</span>
						<input id="client_loginpw" class="input100" type="password" name="client_loginpw" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<br><br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button id="login_input" class="login100-form-btn" type="submit">登 录</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.4.1.js"></script>
	<script src="js/jquery-form.js"></script>
	<script src="js/index.js"></script>
</body>

</html>