<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行转账系统-测试页面</title>
</head>
<body>
<div style="text-align: left;width:300px;margin:0 auto">
    <form id="testMainForm" method="post" enctype="multipart/form-data" class="jsrz_main_information">
        <div class="form-group">
            <label class="form-control-label">测试实体：</label>
            <input type="text" id="test_entity" class="form-control" name="test_entity">
        </div>
        <div class="form-group">
            <label class="form-control-label">测试数量：</label>
            <input type="text" id="test_number" class="form-control" name="test_number">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <input id="test_input" class="btn btn-primary px-5 fullwidth" value="提交" type="submit">
                </div>
            </div>
        </div>
    </form>
</div>
<script src="./js/jquery-3.4.1.js"></script>
<script src="./js/test.js"></script>
<script src="js/jquery-form.js"></script>
</body>
</html>